fastapi
uvicorn[standard]

# Face Recognition / Computer Vision
deepface[tensorflow]
tf-keras
opencv-python
numpy
opencv-python
opencv-contrib-python
supervision

# Database
sqlalchemy
psycopg2-binary

# Vector Database
qdrant-client

# Configuration / Validation
pydantic
pydantic-settings
python-dotenv
PyYAML
python-multipart

# Testing
pytest
httpx
